a {
    text-decoration: none;
    display: inline-block;
    padding: 8px 16px;
}

a:hover {
    background-color: orange;
    color: black;
}

.previous {
    background-color: orange;
    color: black;
}

h1{
    text-align: center;
}